.create-table-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  background-color: #605B72; /* Couleur de fond similaire à la page de login */
  font-family: Arial, sans-serif; /* Police d'écriture */
  color: white;
}

.create-table-form h1 {
  margin-bottom: 20px;
  color: #ffffff; /* Couleur du titre */
}

.create-table-form form {
  background-color: #2B2738; /* Fond du formulaire similaire au cadre de login */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le formulaire */
  padding: 30px;
  width: 350px; /* Largeur fixe du formulaire */
  color: white;
}

.create-table-form label {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  color: #ddd; /* Couleur des labels */
}

.create-table-form input,
.create-table-form select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #3B364C; /* Bordure similaire aux inputs de login */
  border-radius: 5px;
  background-color: #3B364C; /* Couleur de fond des inputs */
  color: white;
}

.create-table-form button {
  background-color: #6E54B5; /* Couleur du bouton pour correspondre à login */
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s;
}

.create-table-form button:hover {
  background-color: #5a48a2; /* Couleur au survol */
}
