.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-color: #e9ecef; /* Couleur d'arrière-plan */
    font-family: Arial, sans-serif; /* Police d'écriture */
}

.homepage-container h1 {
    margin-bottom: 30px; /* Espacement sous le titre */
    color: #343a40; /* Couleur du texte */
}

.button-container {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Supprimer la bordure */
    padding: 10px 20px; /* Espacement à l'intérieur du bouton */
    border-radius: 4px; /* Arrondir les coins */
    cursor: pointer; /* Changer le curseur au survol */
    margin: 10px; /* Espacement entre les boutons */
    transition: background-color 0.3s; /* Transition pour le survol */
    width: 100px;
}

.btn:hover {
    background-color: #0056b3; /* Couleur du bouton au survol */
}
