/* Login.css */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #605B72; /* Couleur de fond derrière le cadre */
}

.login-container {
  display: flex;
  width: 1000px; /* Largeur du cadre maintenue */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #2B2738; /* Couleur du cadre */
  overflow: hidden;
}

.login-image {
  position: relative;
  width: 50%; /* Image et formulaire en 50/50 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2738; /* Fond de l'image */
  overflow: hidden; /* Pour couper l'image si nécessaire */
}

.login-image img {
  width: 120%; /* Dépasser légèrement pour couvrir toute la zone */
  height: auto;
  object-fit: cover; /* Garder l'image proportionnelle */
}

.login-image-text {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.login-form {
  width: 40%; /* Formulaire prend 50% de la largeur */
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5%;
  color: white;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form label {
  font-size: 0.9em;
  color: #ddd;
}

.login-form input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #3B364C; /* Couleur des champs */
  color: white;
}

.login-form button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6E54B5; /* Couleur du bouton */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #5a48a2; /* Légère variation sur le hover */
}

.login-form p {
  color: #ff7675;
  font-size: 0.9em;
  margin-top: 10px;
}


