/* SignUp.css */
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #605B72; /* Même couleur de fond que pour la page de login */
}

.signup-container {
  display: flex;
  width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #2B2738; /* Même couleur de fond du cadre */
  overflow: hidden;
}

.signup-image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2738;
  overflow: hidden;
}

.signup-image img {
  width: 120%; /* Dépasser légèrement pour couvrir toute la zone */
  height: auto;
  object-fit: cover;
}

.signup-image-text {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.signup-form {
  width: 40%;
  padding: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5%;
  color: white;
}

.signup-form h2 {
  margin-bottom: 20px;
}

.signup-form label {
  font-size: 0.9em;
  color: #ddd;
}

.signup-form input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #3B364C; /* Couleur des champs d'input */
  color: white;
}

.signup-form button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6E54B5; /* Couleur du bouton */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #5a48a2; /* Légère variation au survol */
}

.signup-form p {
  color: #978b8b;
  font-size: 0.9em;
  margin-top: 10px;
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  color: #ddd;
}

.login-link a {
  color: #6E54B5;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
